<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon del sitio -->
    <link rel="icon" type="image/x-icon" href="../../resources/logo.png">

    <!-- css local para el sitio -->
    <link rel="stylesheet" href="../../css/bootstrap.min.css">

    <!-- Iconos de boostrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <!-- css principal del sitio -->
    <link rel="stylesheet" href="../../css/public/main.css">

    <title>Site!</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand text-white" href="#"><img src="../../resources/logo.png" class="img-fluid logo" alt=""> PlaySoccer</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    </ul>
                    <form class="d-flex">
                        <a class="nav-link login-link" aria-current="page" href="#"><i class="bi bi-person"></i>Iniciar Sesión </a>
                    </form>
                </div>
            </div>
        
        </nav>
    </header>

    <section class="zona1"> 
        <div class="contenerdor">
            <div id="fondo">
                <img class="img-fluid banner" src="../../resources/img/fondo.png" alt="">
            </div>
        </div>
    </section>

    <!-- Contenedor principal -->
    <div class="container">
        <!-- Header -->
        <header class="header">
            <div class="row boton">
                <div class="col">
                    <button type="button" class="btn btn-warning">Warning</button>
                </div>
            </div>
        </header>

        <!-- contenido pricipal -->
        <aside class="main">
            <div class="row">
                <div class="col">
                    hola
                </div>
            </div>
        </aside>

        <!-- Footer del sitio -->
        <footer class="footer">
            <div class="row">
                <div class="col">
                    
                </div>
            </div>
        </footer>
    </div>

    <!-- Opcion 1 ; almacenamiento local -->
    <script src="../../js/bootstrap.min.js"></script>

</body>

</html>